body {
  background: #000;
  height: 100vh;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

h1,
h2 {
  color: #fbfbfb;
  text-align: center;
}

.board {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (MINMAX(MAX(10%, 0.3rem), 5fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, MINMAX(MAX(10%, 0.3rem), 5fr));
  grid-auto-flow: row;
  width: 20em;
}

.board .box {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 2px 0;
  background-color: #176f17;
}

.board .box::after {
  content: attr(data-value);
  position: absolute;
  inset: 15% 35%;
}


.board .mine::after {
  content: "";
}

.highScore {
  position: fixed;
  left: 5%;
}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#4c79aa), color-stop(#4476a0), color-stop(#3e7295), color-stop(#3c6e8a), color-stop(#3b697f), color-stop(#3d7387), color-stop(#3f7c8f), color-stop(#428696), color-stop(#45a2b0), color-stop(#49bfc8), color-stop(#51ddde), to(#5ffbf1));
  background-image: linear-gradient(to right top, #4c79aa, #4476a0, #3e7295, #3c6e8a, #3b697f, #3d7387, #3f7c8f, #428696, #45a2b0, #49bfc8, #51ddde, #5ffbf1);
}
